# Firebase Configuration for Vercel / Production Deployment
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDDLRO_H5_HgUUsCnhK1A-6DWgnOGkD0BY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tasks-899c9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tasks-899c9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tasks-899c9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=447982585378
NEXT_PUBLIC_FIREBASE_APP_ID=1:447982585378:web:527acd852bf1595f5d6c7b
