@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: #f6f9ff;
    color: #151c22;
    direction: rtl;
  }
  
  body {
    overscroll-behavior: none;
  }
}

/* نمط خط أيقونات جوجل */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* شريط تمرير خفيف وأنيق */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c1c8c2;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #717973;
}
